@import 'https://fonts.googleapis.com/css?family=Quicksand';
$font-family: 'Quicksand', sans-serif;
$primary-color: #ffab91;

html {
    height:100%;
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
}

body {
    height: 500%; // Pages * 100
    margin:0px;
    padding:0px;
}

.page {
    height: 20%; // 100 / Pages
    margin: 0;
    padding: 0;
    position: relative;
}

// Navigation bar
// Inspiration from https://codepen.io/EvyatarDa/pen/waKXMd

nav {
    width: 95%;
    margin: 30px 40px 0 40px;
    position: fixed;
    z-index: 2;
    font-family: $font-family;
    text-align: right;
    background-color: rgba(255, 255, 255, 0);
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px 20px;
    top: 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color: inherit;
}


nav a .linkAnimationB, nav a .linkAnimationA
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    transition: all 0.3s;
    background: #ffffff;
}

nav a .linkAnimationB
{
    left: 0px;
    top: 0px;
}

nav a .linkAnimationA
{
    right: 0px;
    bottom: 0px;
}

nav a:hover:before, nav a:hover:after
{
    opacity: 1;
    width: 100%;
}

nav .logo h1 {
    float: left;
    margin: 0;
    font-size: 30px;
}

.light {
    color: white;
}

.dark {
    background: black;
}

nav .logo img {
    float: left;
    margin: 0;
    margin-top: -8px; 
    margin-right: 20px;
    padding: 10px;
    width: 50px;
    background-color: white;
}

.homepage .scrollTag,
#about-page .scrollTag,
#project-page2 .scrollTag,
.homepage .fas,
#about-page .fas,
#project-page2 .fas {
    color: white;
}

.search-page .scrollTag p,
.search-page .fas,
#project-page1 .fas {
    color: black;
}

.scrollTag p {
    margin-bottom: 10px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.5s;
}

.scrollTag {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    bottom: 30px;
    font-family: $font-family;
}

.homepage {
    z-index: 1;
    top: 0;
    background:linear-gradient(0deg,rgba(29, 29, 29, 0.212),rgba(29, 29, 29, 0.212)), url("../images/shoes.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage .intro {
    opacity: 1;
}

.homepage .intro h2 {
    font-family: $font-family;
    font-size: 8em;
    text-align: center;
    color: white;
    padding-top: 200px;
    margin-top:0; 
    margin-bottom: 0px;
    padding-bottom: 0px; 
}

.homepage .intro p {
    margin-top: 5px;
    font-family: $font-family;
    font-size: 2em;
    text-align: center;
    color: white;
}

.menubar {
    margin-top: 0px;
    padding: 50px;
    background-color: white;
    position: sticky;
    box-shadow: "0 0px 0px 0 rgba(0, 0, 0, 0.2)";
    position: -webkit-sticky;
    top: 0;
    transition: box-shadow 0.5s;
    z-index: 1;
}

#search-page {
    min-height: 33.33%;
    height: auto;
}
.search-page {
    background-color: white;
}

.search-page form {
    text-align: center;
}

.search-page .searchBox {
    width: 50%;
    height: 120px;
    font-size: 100px;
    font-family: $font-family;
    margin-top: 120px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid $primary-color;
    transition: border-bottom .2s ease-in-out;
}

.search-page .searchBox::placeholder {
    color: rgb(220, 220, 220);
    font-family: $font-family;
}

.search-page .searchBox:focus {
    outline: none;
    border-bottom: 4px solid $primary-color
}

.search-page .searchBox::selection {
    color: #D9795B;
}

.search-page .searchBox::-moz-selection {
    color: #D9795B;
}


.search-page .searchResults {
    font-family: $font-family;
    margin-left: 25%;
    margin-bottom: 30px;
}

.search-page .searchResults ul {
    margin-bottom: 15px;
}

.search-page .searchResults .fa-li {
    color: $primary-color;
}

.search-page p {
    margin: auto;
    font-family: $font-family;
    font-size: 0.9em;
    width: 50%;
    color: rgb(112, 112, 112);
}

#about-page {
    background: #36363c;
}

#about-page .content {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 200px;
    font-family: $font-family;
    color: white;
}

#about-page content h2 {
    width: 10%;
}

// Project 1: Word Search Mania
#project-page1 .content,
#project-page2 .content {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 200px;
    font-family: $font-family;
}

#project-page1 .content img,
#project-page2 .content img {
    width: 65%;
    transition: .3s;
}

#project-page1 .description,
#project-page2 .description {
    width: 30%;
    float: right;
}

#project-page1 .tools-used,
#project-page2 .tools-used {
    color: #D9795B;
}

#project-page1 .content img:hover,
#project-page2 .content img:hover {
    width: 67%;
}

// Project 2: Tribunal Websitre

#project-page2 {
    background: #36363c;
}

#project-page2 .content {
    color: white;
}

#project-page2 .content img {
    border-radius: 10px;
}